body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
    align-content: center;
    text-align: center;
  }
  
  
  .resource-category {
    margin-bottom: 20px;
  }
  
  .resource-category h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  ul li a {
    text-decoration: none;
    color: #333;
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  /* Resource categories styling */
.resource-category {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
}

.resource-category h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.resource-category ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.resource-category ul li {
  margin-bottom: 10px;
}

.resource-category ul li a {
  text-decoration: none;
  color: #008cba;
  font-weight: bold;
  transition: color 0.3s ease;
}

.resource-category ul li a:hover {
  color: #005f73;
}
